:root {
    --card-backg:  #ffffff;
    --card-info-color: #0e0e0e;
}

button:focus, input:focus, textarea:focus {
    outline: 0;
}

/* 
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

.blog_wrap {
    width: 380px;
    margin: 0;
} */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    max-width: 1250px;
    margin: 0 auto;
}

.blog_wrap {
    width: 380px;
    margin: 0;
}
.blog_wrap:nth-child(1),
.blog_wrap:nth-child(3) {
    flex: 0 0 60%;
}

.blog_wrap:nth-child(2),
.blog_wrap:nth-child(4) {
    flex: 0 0 30%;
}
.blog_wrap:nth-child(n+5) {
    flex: 0 0 45%;
}

.blog_item {
    background: var(--card-backg);
    box-shadow: 0 5px 3px rgb(3 27 78 / 8%);
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
}

.blog_item:hover {
    transform: translate(-10px);
}

.blog_item .thumb {
    padding: 15px;
    display: block;
}

.blog_item .thumb img {
    width: 100%;
    border-radius: 5px;
}

.blog_info {
    padding: 0 30px 30px 30px;
}

.blog_info h2 {
    font-size: 24px;
    color: var(--card-info-color);
    line-height: 30px;
    margin: 15px 0;
    transition: .3s;
}

.blog_info h2 a {
    transition: .3s;
}

.blog_info h2:hover a {
    color: gray;
}

.blog_info h2 a {
    color: var(--card-info-color);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    nav {
        max-width: 100%;
        padding: 15px;
    }

    .blog_wrap {
        flex: 0 0 calc(50% - 10px) !important;
        width: auto;
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 10px;
        gap: 15px;
    }

    .blog_wrap {
        flex: 0 0 100% !important;
        width: auto;
        max-width: 500px;
        margin: 0 auto;
    }

    .blog_info {
        padding: 0 20px 20px 20px;
    }

    .blog_info h2 {
        font-size: 20px;
        line-height: 26px;
    }
}