:root {
    --color-backg: #f7f7f7;
    --color: #0e0e0e;
}

footer {
    overflow: hidden;
    padding: 40px 0;
    position: absolute;
    width: 100%;
    margin: 0;
}

footer .authors p, .src a, .creator p {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    display: flex;
    color: var(--color);
    text-align: center;
    justify-content: center;
    padding: 1px 0;
    font-weight: 300;
    font-size: 0.85em;
}

footer .src a:hover {
    color: #fe6a00;
}