@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root {
    --color-backg: #f7f7f7;
    --color: #0e0e0e;
}

html, body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    background: var(--color-backg);
    color: var(--color);
}

*head{
    .orbitron-uniquifier{
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    height: 100%;
    padding: 0;
}

.header-nav .nav-logo button img{
    width: 340px;
    display: inline;
    z-index: 1;
    float: left;
}

.header-nav .nav-logo button {
    border: 0;
    margin: 0;
    padding: 0;
    background: var(--color-backg);
    cursor: pointer;
}

.header-nav .nav-button{
    float: right;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}        

.header-nav .nav-logo button img{
    width: 320px;
    display: inline;
    z-index: 1;
    float: left;
}

.login button{
    padding: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
    background: var(--color-backg);
    font-size: 14px;
    font: inherit;
    color: var(--color);
}

.lightmode button{
    border: 0;
    padding: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    background: var(--color-backg);
}

/* clearfix */
.header-nav:before,
.header-nav:after {
    content: "";
    display: block;
} 
.header-nav:after {
    clear: both;
}

@media (max-width: 768px) {
    .header-nav .nav-logo button img{
        width: 180px;
        display: inline;
        z-index: 1;
        float: left;
    }
}

@media screen and (max-width: 1024px) {
    .header-nav .nav-logo button img{
        width: 250px;
        display: inline;
        z-index: 1;
        float: left;
    }
}