:root {
    --backg-button-home: #f7f7f7;
    --color-button-home: #0e0e0e;
}

.div_button_home {
    display: flex;
    align-items: center;
    justify-content: left;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;
    z-index: 1000;
    height: 50px;
    width: 100%;
    background-color: gray;
}

.button_home {
    font-size: xx-large;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    top: 0;
    width: 330px;
    height: 50px;
    background: var(--backg-button-home);
    color: var(--color-button-home);
    border: 0;
    border-color: transparent;
    transition: .5s;
}

.div_button_home button:hover {
    background-color: gray;
}