body {
    font-size: 21px;
    line-height: 1.58;
}

.post_content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5em;
}

.post_content img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

img {
    border-style: none;
}

.post_content h1,
.post_content h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.58;
}

.post_content h1 {
    font-size: 2em;
}

.post_content h2 {
    font-size: 1.6em;
}

.post_content p {
    font-size: 21px;
    margin-bottom: 1em;
    letter-spacing: -.03px;
    /* text-align: justify; */
}