:root {
    --color-backg: #f7f7f7;
    --color: #0e0e0e;
}

.gray_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
    padding: 0.4em;
}

.authors {
    padding: 20px;
}

.src {
    padding: 20px;
}

.src a {
    color: var(--color)
}

.src a:hover {
    color: var(--color-backg);
}