.div_lightmode {
    text-align: end;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    margin: 10px;
    padding-right: 30px;
    z-index: 1000;
}

.button_lightmode {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
