<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ post.title }} </title>
    <link rel="stylesheet" href="/static/style/buttonHome.css">
    <link rel="stylesheet" href="/static/style/lightMode.css">
</head>
<body>

    <div class="div-button-blog-home" style="overflow: hidden;">
        <button onclick="window.location.href='/'" class="button-blog-home">HOME</button>
    </div>

    <div class="div-dark-mode">
        <button id="darkMode" class="button-alterar-dark-mode">
            <img src="/static/image/light-mode.png" alt="Dark mode button">
        </button>
    </div>

    <div class="hud">
        <h2> {{ post.title }} </h2>
        <h3> {{ post.description }} </h3>
        <img src="{{ post.media }}" alt="MEDIA">
        </div>
        <div class="text">
            <p> {{ post.content }} </p>
        </div>
    </div>

    <script src="/static/js/lightMode.js"></script>
</body>
</html>