<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/static/layouts/nav.css">
    <link rel="stylesheet" href="/static/layouts/content.css">
    <link rel="stylesheet" href="/static/layouts/footer.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header-nav">
            <div class="nav-logo">
                <a href="/">
                    <img src="/static/assets/images/crunchyLogoRSS.png" alt=""> 
                </a>
            </div>
            <div class="nav-button">
                <div class="lightmode">
                    <button id="lightmode">
                        <img src="/static/assets/images/brightness_dark.png" id="imgMode" alt="lightmode">
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main class="post_content">
        <h1>{{ post.title }}</h1>
        <h2>{{ post.description }}</h2>
        <img src="{{ post.media }}" alt="media">
        {% if post.content is string() %}
            <p class="text_color"> {{ post.content|safe }} </p>
        {% else %}
            {% for paragraph in post.content %}
                <p class="text_color">{{ paragraph|safe }}</p>
            {% endfor %}
        {%endif%}
    </main>

    <footer>
        <div class="authors">
            <p class="text_color">Written by {{ post.author }}</p>
        </div>
        <div class="creator">
            <p class="text_color">created by olavodotpy</p>
        </div>
        <div class="src">
            <a href="https://github.com/olavodotpy/Crunchyroll-RSS">Source code/credits</a>
        </div>
    </footer>

    <script src="/static/scripts/lightMode.js"></script>
</body>
</html>